.navigation {
  @include section;

  .logo {
    padding: 2.4rem 1.2rem;

    img {
      width: auto;
      height: 7rem;
      object-fit: contain;
    }
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 1.2rem;
  }

  .contact {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: right;
  }
}
